      <!-- Render body_header -->
      <%= render "shared/body_header" %>

      <div class="panel-heading">
        <p><%= @artist.name %></p>
      </div>

      <div class="panel-body">
      <% @songs.each do |song| %>
        <div class="col-md-12">
          <p>
            <%= song.title %>
          </p>
        </div>
      <% end %>
      </div>

      <!-- Render body_footer -->
      <%= render "shared/body_footer" %>
