<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Codaisseurify!</h1>
    <div class="col-md-12 text-center">
      Ready for a whole new Spotify?
    </div>
  </div>
</div>
