@import "bootstrap-sprockets";
@import "bootstrap";

.cfy-button-artist {
  width: 100%;
}
.cfy-photo-artist {
}
.cfy-name-artist {
}
.cfy-photo {
  max-width: 100%;
  overflow: hidden;
  padding: 0;
}
.cfy-btn-upload-photo {
  width: 100%;
}
